In [1]:
import pandas as pd

In [22]:
f = '../data/ier_2022.xlsx'
ier = pd.read_excel(f,skiprows=4)
cols = ier.columns
nombres = ['Unnamed: 0', 'nombre', 'categoria', 'TIPO \nDE \nCONTRATO',
       'RFC', 'genero', 'sni', 'VIGENCIA - SNI', 'CLAVE\nCVU',
       'EXPEDIENTE\nS N I', 'pride', 'VIGENCIA PRIDE',
       'PRIMER \nCONTRATO\nACADÉMICO', 'antiguedad',
       'ANTIGÜEDAD\nA]CADÉMICA\nDGP', 'FECHA DE NACIMIENTO', 'EDAD',
       'Observaciones']
columnas = dict(zip(columnas,nombres))
ier.rename(columns=columnas,inplace=True)

,Unnamed: 0,nombre,categoria,TIPO \nDE \nCONTRATO,RFC,genero,sni,VIGENCIA - SNI,CLAVE\nCVU,EXPEDIENTE\nS N I,pride,VIGENCIA PRIDE,PRIMER \nCONTRATO\nACADÉMICO,antiguedad,ANTIGÜEDAD\nA]CADÉMICA\nDGP,FECHA DE NACIMIENTO,EDAD,Observaciones
0,1.0,ARANCIBIA BULNES CAMILO ALBERTO,INV. TIT. C. TC,DEF,AABC690918953,H,2,01/01/2017 - 31/12/2021,16063.0,16063.0,D,01/01/2015 - 31/12/2019,2000-10-01,22 años 3 meses 24 días,NaN,1969-08-31,53 años,NaN
1,2.0,ARIAS LIZÁRRAGA DULCE MARÍA,INV. ASOC. C . TC,OD,AILD8907268V8,M,1,01/01/2020 - 31/12/2022,553453.0,84885.0,"Equivalencia ""B""",NaN,2019-10-16,3 años 3 meses 9 días,NaN,1989-07-26,33 años,NaN
2,3.0,BARRIOS DEL VALLE GUILLERMO,INV. TIT. A. TC,DEF,BAVG780310JJ3,H,1,01/01/2019 - 31/12/2022,40092.0,46123.0,C,01/01/2016 - 31/12/2020,2010-02-11,12 años 11 meses 14 días,NaN,1978-03-10,44 años,NaN
3,NaN,BEST Y BROWN ROBERTO,INV. TIT. C. TC,DEF,BEBR500424SF0,NaN,3,01/01/2015 - 31/12/2030,2877.0,2877.0,D\n,Exento de Evaluación,1975-06-01,47 años 7 meses 24 días,NaN,1950-04-25,72 años,Baja por jubilación a partir del 1 de enero de...
4,NaN,CUENTAS GALLEGOS ANA KARINA,INV. TIT. B. TC,DEF,CUGA730314FR3,NaN,2,01/01/2020 - 31/12/2023,122477.0,34251.0,C\n,01/07/2017 - 30/06/2022,2006-04-01,16 años 9 meses 24 días,NaN,1973-03-14,49 años,Cambió de adscripción definitivamente a partir...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN
89,78.0,TOTAL DE \nACADÉMICOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN